{%extends 'parent.html'%}
{%block tit%}
Trainee _ list
{%endblock%}
{%block header%}
Trainee _ header
{%endblock%}
{%block content%}
{{trainees}}
<table width=100% border="1">
    <tr>
        <th>id</th>
        <th>name</th>
        <th>courseid</th>
        <th>course name</th>
        <th>Action</th>
    </tr>
    {%for trainee in trainees%}
    <tr>
        <td>{{trainee.id}}</td>
        <td>{{trainee.name}}</td>
        <td>{{trainee.courseid}}</td>
        <td>{{trainee.courseid.name}}</td>
        <td>
            <a href="{%url 'traineeupdate' trainee.id%}">Update</a>
            <a href="{%url 'traineedelete' trainee.id%}">Delete</a>
        </td>
    </tr>
    {%endfor%}
</table>



{%endblock%}